.img-gallery{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    background-image: linear-gradient(rgba(5, 5, 5, 0.5), rgba(7, 7, 7, 0.5)),
    url("find\ out\ background.jpg");
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 50px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.9);
    position:fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 100%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right:5%;
    font-size: 30px;
    color: #fdfcfc;
    cursor: pointer;
}
#mySidenav a {
    position: absolute; 
    right: -70px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    
  }
  
  #mySidenav a:hover {
    right: 0; 
  }
  
  
  #back {
    top: 100px;
    background-color: #80744e; 
  }
